<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                <!-- <img src="{{ "/assets/media/ride.svg" | prepend: site.baseurl }}" width="150px" alt="Ride"><br /> -->
                <p>&copy; {{ site.time | date: '%Y' }} {{ site.copyright }}</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
