$mca-orange:#c50;
$mca-white:#fff;
$mca-light-grey:#5b5953;
$mca-dark-grey:#333027;
$mca-green:#0b6630;

$brand-primary:         $mca-orange;
$brand-info:            $mca-green;
$input-border-focus:    $mca-orange;
$navbar-inverse-bg:     $mca-dark-grey;

@import "bootstrap/variables";